body {
	background: #abd7d7;
	color: white;
    font-family: arial,sans-serif;
}

.encabezado{
  background: #354a76;
}

.producto{
  color:#27b1f0;
  display: inline-block;
  background:white;
}

.cuerpo {
	background:#abd7d7;
	text-align:center;
}

#menu{
   background: #27b1f0;
}

#footer{
   color:#354a76;
   background:#eafcfc;
   font-family: times;
}